<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>UTSC Grade Tracker — Login</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

  <div class="login-wrapper">
    <div class="card">
      <h2>UTSC Academic Progress Tracker</h2>
      <p>Enter your name and student number to log in or make a new account</p>

      {% if error %}
        <p class="error-msg">{{ error }}</p>
      {% endif %}

      <form id="loginForm" action="/login" method="POST">
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter your name." required />

          <label>Student Number:</label>
          <input type="text" name="studentNum" id = "student_num" placeholder="Enter your student number." required />
          <br />

          <p> <small> Your student number must be between 9 to 10 digits </small></p>

        </div>
        <button type="submit">Enter</button>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='validation.js') }}"></script>

</body>
</html>
