<header>
  <h1>📚 UTSC Grade Tracker</h1>
  <div class="user-info">
    Welcome, <strong>{{ session["student_name"] }}</strong>
    <a href= "/logout">Log Out</a>
  </div>
</header>

<nav>
  <a href="/courses"
    class="{% if request.endpoint == 'courses' %} active {% endif %}">
    My Courses
  </a>

  <a href="/cgpa"
    class="{% if request.endpoint == 'cgpa' %} active {% endif %}">
    My cGPA
  </a>

  <a href="/scale"
    class="{% if request.endpoint == 'scale' %} active {% endif %}">
    GPA Scale
  </a>

</nav>



